# java related
*.class
*.jar

# vm crash logs
hs_err_pid*

# idea
.idea/
*.iml

samples
# build tools
build/
dist/
lib/
.gradle/
target/
classes/
dependency-reduced-pom.xml

# midas
*.log*
# generated doc
*.html
